<head>
  <title> Select the Photo </title>
</head>
<body>
  <div>
    <h1> Select the Photo you want to add to your TAG </h1>
    {% if photoExist %}
      {% for photo in photoExist %}
      <form method="post" enctype="multipart/form-data" action="/addTag">
      <div class ="form-group">
      <input type="radio" name="addTag" value="{{photo[1]}}">
      <img src='data:image/png;base64, {{photo[0]}}'/>
      <label for="createtag">Create Tag</label>
      <input type="text" name="tag" /><br />
      </div>
      {% endfor %}
    {% endif %}
    <input type="submit" value="Uploaded" />
  </div>
  </body>
