<head>
  <title>Delete Pictures </title>
</head>
<body>
  <div>
    <h1> Select a picture to delete </h1>
    {% if pictures %}
      {% for picture in pictures %}
      <form method="POST" enctype="multipart/form-data" action="/deletePicture">
      <div class ="form-group">
      <input type="radio"
             name= "pictureID"
             value=
             {{picture[1]}}><img src='data:image/png;base64, {{picture[0]}}'/><br>
      </div>
      {% endfor %}
      {% endif %}
      <button type="submit" value="comment">Submit</button>
      <li><a href='/'>Home</a></li>
      </body>
