<!-- <head>
  <title>See your Tags Photos</title>
</head>
<body>
    {% if tags %}
    <h1> Select A Tag </h1>
        {% for tag in tags %}
      <form method="post" enctype="multipart/form-data" action="/seeTagU">
      <div class ="form-group">
      <input type="radio" name="tag" value={{tag}}>{{tag}}<br>
      </div>
      {% endfor %}
    {% endif %}
    {% if picture %}
      {% for photo in picture %}
        <h3> {{photo}}</h3>
      {% endfor %}
    {% endif %}
      <button type="submit" value="comment">Submit</button>
      <li><a href='/'>Home</a></li>
  </body> -->
  <head>
    <title>Select the tags</title>
  </head>
  <body>
    <div>
      <h1> Select the photos you want from your tag</h1>
      {% if tags %}
        {% for tag in tags %}
        <form method="POST" enctype="multipart/form-data" action="/tagSelectP">
        <div class ="form-group">
        <input type="radio"
               name= "tag"
               value=
               {{tag}}>{{tag}}<br>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit" value="comment">Submit</button>
        <li><a href='/'>Home</a></li>
        </body>
